
<!DOCTYPE html>
<html>
<head>
<title>Email Service</title>
</head>
<body>
<h1>Email Service</h1>
<form action="/send_email" method="POST">
<label for="sender">Sender:</label>
<input type="email" name="sender" id="sender">
<br>
<label for="recipient">Recipient:</label>
<input type="email" name="recipient" id="recipient">
<br>
<label for="subject">Subject:</label>
<input type="text" name="subject" id="subject">
<br>
<label for="message">Message:</label>
<textarea name="message" id="message"></textarea>
<br>
<input type="submit" value="Send Email">
</form>
</body>
</html>


